<ion-header>
  <ion-toolbar color="productopction">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-title>{{productInfo.name_garment}} {{ productInfo.name_product }}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="11" offset="0.5" text-center>
        <ion-label color="medium" style="font-size: 150%"> Elige entre alguno de los precios</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" offset="0.5" text-center>

          <ion-radio-group>
            <ng-container *ngFor="let product of productPriceList">
              <ng-container *ngIf="product.quantity > 0">
                <ion-row style="align-items: center">
                  <ion-col size="3" offset="0.5">
                    <img [src]="product.path_photo" width="110%">
                  </ion-col>
                  <ion-col size="7">
                    <ion-row style="align-items: center">
                      <ion-col size="12">
                        Disponibles: {{product.quantity}}
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        Cantidad:
                      </ion-col>
                      <ion-col size="2">
                        <ion-icon name="remove"style="font-size: 75%" (click)="changeQuantity(false, product)"></ion-icon>
                      </ion-col>
                      <ion-col size="2">
                        {{product.quantity_select}}
                      </ion-col>
                      <ion-col size="2">
                        <ion-icon name="add" style="font-size: 75%" (click)="changeQuantity(true, product)"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12" text-center><b>Precio: ${{product.price_product | number}}</b></ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="1">
                    <ion-radio (click)="getIdPrice(product)"></ion-radio>
                  </ion-col>
                </ion-row>
              </ng-container>
            </ng-container>
          </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer >
  <ion-button expand="full" color="productopction" slot="fixed" size="large" [disabled]="disabled" (click)="sendProductPrice()">Seleccionar</ion-button>
</ion-footer>
