ion-item{
  --background: warning;
  --color: #fff;
  font-size: large;
}

ion-img {
  width: 100%;
  align-items: center;
}
a{
  color: #fff;
}
.bottom-button {
  position: fixed;
  bottom: 10px;
  right: 0;
}
