.imgModal {
  height: 90%;
  width: 90%;
}

#fontBold {
  font-weight: bold;
}

#iconsize{
  font-size: 170%;
}

#phoneList{
  margin: -5px!important;
  margin-left: -5px!important;
  padding: 0px!important;
  border-top: none;
  border-bottom: none;

}

.error-message {
  font-size: 0.7em;
  color: red;
  text-align: center;
}

