<ion-content *ngIf="!edit">
  <ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">
      {{dataClient.first_name}} {{dataClient.last_name}}
    </ion-title>
    <ion-buttons (click)="editClient(MESSAGE_CONFIRM_EDIT)" slot="end">
      <ion-icon name="create" id="iconsize"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-item>
      <ion-row>
        <ion-col size="4">
            <ion-img [src]="getIconClient(dataClient)" class="imgModal"></ion-img>
        </ion-col>
        <ion-col size="8">
          <ion-list>
            <ion-item lines="none">
              Identificación: {{dataClient.document_user}}
            </ion-item>
            <ion-item lines="none">
              Fecha de creación: {{ getDate(dataClient.creation_date)}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-list>
          <ion-item lines="none">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label *ngIf="!dataClient.email_cuser" color="medium"> Sin email </ion-label>
            <ion-label *ngIf="dataClient.email_cuser" > {{dataClient.email_cuser}} </ion-label>
          </ion-item>
          <ion-item >
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-list >
              <ion-item *ngFor="let phone of phoneClient" lines="none" id="phoneList">{{phone.number_phone}}</ion-item>
            </ion-list>
            <ion-label *ngIf="!existPhone()" color="medium"> Sin telefono </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="calendar" slot="start"></ion-icon>
            {{getAge(dataClient.birthdate_user, dataClient.age_user, dataClient.creation_date)}} años
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row id="fontBold">
      <ion-col size="5" offset="3">
        <ion-label>Compras realizadas:</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>{{ salesClient.length }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-content>
  <ion-header *ngIf="edit">
    <ion-toolbar color="danger">
      <ion-buttons (click)="editClient(MESSAGE_CONFIRM_COMEBACK)" slot="start">
        <ion-icon name="arrow-back" id="iconsize"></ion-icon>
      </ion-buttons>
      <ion-title>
        Editar información
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  *ngIf="edit">
    <form [formGroup]="myForm">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Nombres</ion-label>
              <ion-input formControlName="first_name" type="text" required ></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.first_name">
                <div class="error-message" *ngIf="myForm.get('first_name').hasError(error.type) && (myForm.get('first_name').dirty || myForm.get('first_name').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Apellidos</ion-label>
              <ion-input type="text" formControlName="last_name"></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.last_name">
                <div class="error-message" *ngIf="myForm.get('last_name').hasError(error.type) && (myForm.get('last_name').dirty || myForm.get('last_name').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Número de documento</ion-label>
              <ion-input type="number" formControlName="document_user"></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.document_user">
                <ion-label>{{error.type}}</ion-label>
                <div class="error-message"
                     *ngIf="myForm.get('document_user').hasError(error.type) && (myForm.get('document_user').dirty || myForm.get('document_user').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Correo electronico</ion-label>
              <ion-input type="text" formControlName="email_cuser" ></ion-input>
            </ion-item>
            <div class="error-messages">
              <ng-container *ngFor="let error of errorMessages.email_cuser">
                <div class="error-message"
                     *ngIf="myForm.get('email_cuser').hasError(error.type) && (myForm.get('email_cuser').dirty || myForm.get('email_cuser').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-item *ngIf="dataClientChanges.age_user">
              <ion-label position="floating">Edad</ion-label>
              <ion-input type="text" formControlName="age_user" ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-label text-center=""> Genero </ion-label>
            <ion-list>
              <ion-radio-group formControlName="gender_user">
                <ion-item slot="start">
                  <ion-icon name="woman" item-start></ion-icon>
                  <ion-label>Mujer</ion-label>
                  <ion-radio value="F"></ion-radio>
                </ion-item>
                <ion-item slot="end">
                  <ion-icon name="man" item-start></ion-icon>
                  <ion-label>Hombre</ion-label>
                  <ion-radio value="M"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>

          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Fecha de nacimiento (DD/MM/YYYY)</ion-label>
              <ion-datetime displayFormat="DD MM YY" placeholder="Seleccione la fecha" formControlName="birthdate_user" ></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item *ngFor="let phone of phoneClientChanges">
              <ion-label position="floating">Numero de telefono</ion-label>
              <ion-input type="text" [(ngModel)]="phone.number_phone" [ngModelOptions]="{ standalone : true}"></ion-input>
              <ion-icon name="close" slot="end" (click)="deletePhone(phone)"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-button color="medium" (click)="addPhone()">Agregar numero de telefono</ion-button>
          </ion-col><br>
          <ion-col size="12">
            <ion-button color="success" [disabled]="!myForm.valid" type="submit">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
