<ion-header>
  <ion-toolbar class="chageColor">
    <ion-title>
      {{dataClient.first_name}} {{dataClient.last_name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-row>
        <ion-col size="4">
            <ion-img src="../../../assets/img/user.png" class="imgModal"></ion-img>
        </ion-col>
        <ion-col size="8">
          <ion-list>
            <ion-item>
              Identificación: {{dataClient.document_user}}
            </ion-item>
            <ion-item>
              Fecha de creación: {{ getDate(dataClient.creation_date)}}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-grid>
</ion-content>
