<ion-header>
  <ion-toolbar color="success">
      <ion-icon name="arrow-round-back" class="larger" slot="start" (click)="dismiss()"></ion-icon>
    <ion-title>
      Detalles de la compra
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cloud-download" class="larger" (click)="capture()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scroll-x>
<table style="border: solid; width: 520px; border-collapse: collapse; font-family: Arial; font-size: 12px" align="center">
  <tr style="border: solid; border-bottom: none">
    <td colspan="2">
      <div style="width: 240px">
        <img src="https://res.cloudinary.com/donkqe9gl/image/upload/v1563857082/sabbiApp/Logo_xoihzu.jpg" width="80%">
      </div>
    </td>
    <td colspan="3">
      <div>
        <table style="text-align: center; border-collapse: collapse; border: solid">
          <tr>
            <td colspan="3" style="background-color: red">
              <font color="white"><b>DOCUMENTO EQUIVALENTE No:</b></font>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="border-bottom: solid">
              0{{saleInfo[0].id_sale}}
            </td>
          </tr>
          <tr>
            <td colspan="3" style="border-bottom: solid">Fecha</td>
          </tr>
          <tr>
            <td colspan="1" style="border-right: solid"><b>Dia: {{day}}</b></td>
            <td colspan="1" style="border-right: solid"><b>Mes: {{month}}</b></td>
            <td colspan="1"><b>Año: {{year}}</b></td>
          </tr>
        </table>
      </div>
    </td>

  </tr>
  <tr style="text-align: center">
    <td colspan="5">Oscar Andres Vargas Mora</td>
  </tr>
  <tr style="text-align: center">
    <td colspan="5">NIT: 80.1669.935-9</td>
  </tr>
  <tr style="text-align: center">
    <td colspan="5">Calle 44G Sur 72 44 - Bogotá</td>
  </tr>
  <tr style="border: solid; border-bottom: none">
    <td colspan="2" style="font-weight: bold; width: 100px; border-right: solid">Cliente:</td>
    <td colspan="3" style="font-weight: bold">CC/NIT:</td>
  </tr>
  <tr style="border-collapse: collapse">
    <td colspan="2" style="width: 100px; border-right: solid">{{saleInfo[0].first_name}} {{saleInfo[0].last_name}}</td>
    <td colspan="3"> {{saleInfo[0].document_user | number}}</td>
  </tr>
  <tr style="border-collapse: collapse; border-top: solid">
    <td colspan="5"><br></td>
  </tr>
  <tr style="border-top: solid; text-align: center; background-color: red;">
    <td style="border-right: solid" colspan="1"><font color="white"><b>Cantidad</b></font></td>
    <td style="border-right: solid" colspan="2"><font color="white"><b>Referencia</b></font></td>
    <td style="border-right: solid" colspan="1"><font color="white"><b>Valor</b></font></td>
    <td style="border-right: solid" colspan="1"><font color="white"><b>Total</b></font></td>
  </tr>
  <tr style="border-top: solid; text-align: center" *ngFor="let sale of saleInfo">
    <td style="border-right: solid" colspan="1">{{sale.quantity}}</td>
    <td style="border-right: solid" colspan="2">{{sale.name_garment}} {{sale.name_product}} {{sale.name_trademark}} talla {{sale.size_product}}</td>
    <td style="border-right: solid" colspan="1">${{sale.price_product | number}}</td>
    <td style="border-right: solid" colspan="1">${{(sale.price_product * sale.quantity) | number}}</td>
  </tr>
  <tr>
    <td colspan="3" style="border-top: solid; word-wrap:break-word; border-right: solid; border-bottom: solid"><b>Valor en letras:</b> {{getTotalString()}} M/CTE</td>
    <td colspan="2" style="border-top: solid; background-color: red; border-bottom: solid"><b><font color="white">TOTAL: ${{total | number}}</font></b></td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Firma:</b>
    </td>
    <td colspan="2" style="border-right: solid"></td>
  </tr>
  <tr>
    <td colspan="3">
      <div style="width: 150px;">
        <img src="https://res.cloudinary.com/donkqe9gl/image/upload/v1563857083/sabbiApp/Firma_jcdcus.jpg" width="100%" height="100%">
      </div>
    </td>
    <td colspan="2" style="border-right: solid"></td>
  </tr>
  <tr>
    <td colspan="3">
      <b>____________________</b>
    </td>
    <td colspan="2" style="border-right: solid"></td>
  </tr>
  <tr>
    <td colspan="3">
      <b>CC: 80169935 Bogotá</b>
    </td>
    <td colspan="2" style="border-right: solid; border-bottom: solid"></td>
  </tr>
</table>
</ion-content>
