<ion-header>
  <ion-toolbar color="product">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-buttons>
            <ion-icon name="arrow-round-back" (click)="comeback()" class="larger"></ion-icon>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <ion-title>Seleccionar productos</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-title text-right (click)="comebackHome()">Salir</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"><br>
          <ion-label style="margin-left: 5%; vertical-align: center; font-size: 120%">Progreso:</ion-label>
          <progress-bar progress="75"  style="font-size: 120%" [color-degraded]="{'25': '#7CEBA8',  '50': '#3BE27C', '75': '#fd8c8e', '100': '#10DC60'}"></progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="11" offset="0.5" text-center>
      <ion-label color="medium" style="font-size: 150%"> Elige los productos que se compraron en la venta</ion-label>
    </ion-col>
  </ion-row>
  <ng-container *ngFor="let list of idPriceList">
    <ion-chip>
      <ion-avatar>
        <img [src]="list.path_photo">
      </ion-avatar>
      <ion-label>${{list.price_product}} x 1</ion-label>
      <button ion-button clear color="dark">
        <ion-icon name="close-circle" (click)="deleteIdPrice(list)"></ion-icon>
      </button>
    </ion-chip>
  </ng-container>
    <ng-container *ngFor="let product of productList" >
      <ion-row style="align-items: center">
        <ion-col size="1" offset="2">
          <ion-checkbox disabled [(ngModel)]="product.status_product" ></ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <img [src]="product.trademark_path" (click)="selectProduct(product)" width="150%">
        </ion-col>
        <ion-col size="1" >
          <ion-icon [name]="getIcon(product.gender_product)" (click)="selectProduct(product)" style="font-size: 200%; vertical-align: center"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <ion-label (click)="selectProduct(product)">{{product.name_garment}} {{ product.name_product }}</ion-label>
        </ion-col>
      </ion-row>
    </ng-container>
</ion-grid>
</ion-content>
<ion-footer >
  <ion-button expand="full" color="product" slot="fixed" size="large" [disabled]="disabled" (click)="sendProductPriceInfo()" >Siguiente</ion-button>
</ion-footer>
