<ion-header>
    <ion-toolbar color="product">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Productos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Ionic" color="danger"></ion-searchbar>
    <ion-card *ngFor="let product of dataProducts">
        <img src="https://image.flaticon.com/icons/svg/1906/1906227.svg" alt="Producto"/>
        <ion-card-content>
            <ion-card-title>
                {{product.name_product}}
            </ion-card-title>
            <p> {{product.price_product}} </p>
            {{product.size_product}} <br>
            {{product.gender_product}}<br>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addProductPage()">
            <ion-icon name="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
