<ion-header>
    <ion-toolbar color="product">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Productos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Nombre del producto" color="danger"></ion-searchbar>
    <ion-card *ngFor="let product of dataProducts">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img *ngIf="product.photos === null" src="https://image.flaticon.com/icons/svg/1906/1906227.svg"
                         alt="Producto"/>
                    <img *ngIf="product.photos !== null" [src]="product.photos[0].path_photo" alt="Producto"/>
                </ion-col>
                <ion-col>
                    <ion-card-content>
                        <ion-card-title>
                            {{product.name_product}}
                        </ion-card-title>
                        Precio: {{product.prices[0].price_product}} <br>
                        Cantidad: {{product.prices[0].quantity}} <br>
                        Talla: {{product.prices[0].size_product}} <br>
                        Fecha: {{product.prices[0].date} <br>
                        Género: {{product.gender_product}}
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addProductPage()">
            <ion-icon name="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
