<ion-header>
    <ion-toolbar>
        <ion-title>Agregar Producto</ion-title>
        <ion-button slot="end" fill="clear" size="large" (click)="cancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="productForm">
        <ion-grid>
            <ion-item>
                <ion-label class="label-form" position="floating">Nombre del producto</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>
            <ion-row>
                <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.name">
                        <div class="error-message"
                             *ngIf="productForm.get('name').hasError(error.type) && (productForm.get('name').dirty || productForm.get('name').touched)">
                            {{error.message}}
                        </div>
                    </ng-container>
                </div>
            </ion-row>
            <ion-item>
                <ion-label class="label-form" position="floating">Cantidad</ion-label>
                <ion-input type="number" formControlName="size"></ion-input>
            </ion-item>
            <ion-row>
                <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.size">
                        <div class="error-message"
                             *ngIf="productForm.get('size').hasError(error.type) && (productForm.get('size').dirty || productForm.get('size').touched)">
                            {{error.message}}
                        </div>
                    </ng-container>
                </div>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label class="label-form" position="floating">Precio</ion-label>
                        <ion-input type="number" formControlName="price">
                        </ion-input>
                    </ion-item>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of errorMessages.price">
                            <div class="error-message"
                                 *ngIf="productForm.get('price').hasError(error.type) && (productForm.get('price').dirty || productForm.get('price').touched)">
                                {{error.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label class="label-form" position="floating">Precio de venta</ion-label>
                        <ion-input type="number" formControlName="salePrice"></ion-input>
                    </ion-item>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of errorMessages.salePrice">
                            <div class="error-message"
                                 *ngIf="productForm.get('salePrice').hasError(error.type) && (productForm.get('salePrice').dirty || productForm.get('salePrice').touched)">
                                {{error.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>
            <ion-label class="label-form">Género</ion-label>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-checkbox slot="start" color="danger"></ion-checkbox>
                        <ion-label>Masculino</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-checkbox slot="start" color="danger"></ion-checkbox>
                        <ion-label>Femenino</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-label class="label-form">Marca</ion-label>
                    <ion-item>
                        <ion-input formControlName="name" disabled="true">{{trademark.name_trademark}}</ion-input>
                        <ion-button color="light" (click)="showTrademarks()">
                            <ion-icon name="arrow-dropdown-circle"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <div class="error-message tredemark-error" aria-disabled=""
                         *ngIf="'Opción' === trademark.name_trademark">
                        Campo obligatorio
                    </div>
                </ion-col>
                <ion-col size="6">
                    <ion-label class="label-form">Prenda</ion-label>
                    <ion-item>
                        <ion-input disabled="true">{{garment.name_garment}}</ion-input>
                        <ion-button color="light" (click)="showGarments()">
                            <ion-icon name="arrow-dropdown-circle"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-fab vertical="bottom">
                <ion-row>
                    <ion-col size="3" offset="1">
                        <ion-button [disabled]="productForm.valid" color="primary" (click)="accept()" size="large">
                            Aceptar
                        </ion-button>
                    </ion-col>
                    <ion-col size="3" offset="3.5">
                        <ion-button color="danger" (click)="cancel()" size="large">
                            Cancelar
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-fab>
        </ion-grid>
    </form>
</ion-content>
