<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Marcas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
<!--        <ion-list-header class="header-list" color="danger">-->
<!--            Marcas-->
<!--        </ion-list-header>-->
        <ion-item *ngFor="let trademark of dataTrademark" [class]="trademark.id_trademark">
            <ion-thumbnail slot="end">
                <ion-img [src]="trademark.path"></ion-img>
            </ion-thumbnail>
            <ion-label>{{trademark.name_trademark}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
